/* .main{
    background-color: #0d1d29;
    width: 100%;
    height: 36rem;
}
.about{
    display: flex;
}
.about h1{
    color: white;
    font-size: 50px;
    font-weight: 100;
    margin-left: 5rem;
    margin-top: 10rem;   
    font-family: f;
}
.about img{
    height: 40px;
    margin-top: 11rem;
    margin-left: 10px;
}
.about-us h1{
    color: white;
    font-size: 50px;
    font-weight: 100;
    margin-left: 4.2rem;
    font-family: f;
}
.about-us p{
    color: #fbbf24;
    font-size: 50px;
    font-weight: 100;
    margin-left: 5rem;
    font-family: f;
}
.image img{
    margin-left: 40rem;
    height: 20rem;
    margin-top: 5rem;
}
.button button{ 
    width: 5rem;
    background-color: #fbbf24;
    border-radius: 10px;
    margin-left: 5rem;
    height: 30px;
} */
#move{
    background-color: plum;
    display: flex;
    overflow: hidden;
    margin-top: 4rem;
}
.marque h1{
    font-size: 4vw;
    color: black;
    font-style: oblique;
}
.marque{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 1.5vw;
    flex-shrink: 0;
    transform: translateX();
}
.marque img{
    height: 4vw;
}
/* .zintlr{
    background-color: #f0f7ff;
    height: 35rem;
    margin-top: 2rem;
    display: flex;
}
.about1{
    margin-left: 20rem;
    margin-top: 2vw;
}
.about1 h1{
    font-size: 30px;
    font-style: oblique;
    font-weight: normal;
}
.about1 p{
    font-size: 1rem;
    color: gray;
    margin-top: 10px;
}
.image1 img{
    margin-left: 3px;
    margin-top: 2px;
}
.minds{
    display: flex;
    justify-content: center;
    background-color: #f0f7ff;
    height: 10rem;
    margin-top: 3rem;
    align-items: center;
}
.minds h1{
    font-size: 3rem;
    font-weight: bold;
    font-style: oblique;
}
.mind2{
    display: flex;
    align-items: center;
}
.image2 img{
    border-radius: 10%;
    margin-top: 3rem;
    margin-left: 4rem;
}
.theteam h1{
    font-size: 2rem;
    margin-left: 10rem;
    font-weight: bold;
    font-style: italic;
}
.theteam p{
    font-size: 1.5rem;
    color: gray;
    margin-left: 10vw;
}
.box{
    display: flex;
    margin-top: 10rem;   
}
.box1{
    height: 250px;
    width: 40%;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 0px 15px 0px black;
    padding: 30px;
    margin-left: 3vw;
    
}
.box1 img{
    padding-top: 1rem;
}
.box1 h1{
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}
.box1 p{
    margin-top: 10px;
    font-size: 15px;
    color: gray;  
}
.box2{
    height: 250px;
    width: 40%;
    border: 2px solid black;
    border-radius: 50px;
    padding: 30px;
    margin-left: 10rem;
}
.box2 h1{
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}
.box2 p{
    margin-top: 10px;
    font-size: 15px;
    color: gray;  
}
.boxx{
    display: flex;
    margin-top: 3vw;
}
.boxx1{
    height: 250px;
    width: 40%;
    border: 2px solid black;
    border-radius: 50px;
    padding: 60px;
    margin-left: 3vw;
}
.boxx2{
    height: 250px;
    width: 40%;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 0px 15px 0px black;
    padding: 60px;
    margin-left: 10rem;
}
.black{
    background-color: black;
    color: white;
}
 */
