
.move{
    background-color: plum;
    /* display: flex; */
    overflow: hidden;
    margin-top: 4rem;
    background-color: #ebc98c;
    height: 9vw;

}
.marque h1{
    font-size: 4vw;
    color: black;
    font-style: oblique;
}
.marque{
    display: flex; 
    align-items: center;
    gap: 3rem;
    padding: 0 1.5vw;
    flex-shrink: 0;
    transform: translateX();
}
.marque img{
    height: 4vw;
}
/* From Uiverse.io by reshades */ 
.button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    transition: all 0.6s ease;
  }
  
  .button:hover {
    background-color: #3654ff;
    cursor: pointer;
  }

  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em
  }