.Sidebar{

    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: black;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    color: white;
    justify-content: flex-start;
}
.Sidebar li{
    width: 100%;
}