#cursor {
    position: fixed;
    width: 25px; 
    height: 25px; 
    background-color: #fbbf24;
    z-index: 1000;
    border-radius: 50%; 
    pointer-events: none; 
    top: -6px;
    left: -9px;
  }
  